@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 217 36% 26%;
    --card: 0 0% 100%;
    --card-foreground: 217 36% 26%;
    --popover: 0 0% 100%;
    --popover-foreground: 217 36% 26%;
    --primary: 217 36% 26%;
    --primary-foreground: 0 0% 98%;
    --secondary: 39 100% 50%;
    --secondary-foreground: 217 36% 26%;
    --muted: 217 36% 95%;
    --muted-foreground: 217 36% 40%;
    --accent: 180 47% 48%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 36% 89.8%;
    --input: 217 36% 89.8%;
    --ring: 217 36% 26%;
    --chart-1: 217 36% 26%;
    --chart-2: 180 47% 48%;
    --chart-3: 39 100% 50%;
    --chart-4: 217 36% 40%;
    --chart-5: 180 47% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 217 36% 10%;
    --foreground: 0 0% 98%;
    --card: 217 36% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 217 36% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 217 36% 26%;
    --primary-foreground: 0 0% 98%;
    --secondary: 39 100% 50%;
    --secondary-foreground: 217 36% 26%;
    --muted: 217 36% 20%;
    --muted-foreground: 217 36% 70%;
    --accent: 180 47% 48%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 36% 26%;
    --input: 217 36% 26%;
    --ring: 217 36% 70%;
    --chart-1: 217 36% 60%;
    --chart-2: 180 47% 48%;
    --chart-3: 39 100% 50%;
    --chart-4: 217 36% 70%;
    --chart-5: 180 47% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
